$utilities: map-merge(
    $utilities,
    (
        'font-size': map-merge(
                map-get($utilities, 'font-size'),
                (
                    responsive: true,
                    values: map-merge(
                            map-get(map-get($utilities, 'font-size'), 'values'),
                            (
                                0: 56px,
                                1: $h1-font-size,
                                //40px
                                2: $h2-font-size,
                                //36px
                                3: $h3-font-size,
                                //32px
                                4: $h4-font-size,
                                //28px
                                5: $h5-font-size,
                                //24px
                                6: $h6-font-size,
                                //16px
                                7: 20px,
                                8: 18px,
                                9: 14px,
                            )
                        ),
                )
            ),
        'rounded': (
            property: border-radius,
            class: rounded,
            responsive: true,
            // 加入這行
            values: (
                    null: $border-radius,
                    0: 0,
                    4: 4px,
                    8: 8px,
                    16: 16px,
                    20: 20px,
                    24: 24px,
                    60: 60px,
                    100: 100px,
                ),
        ),
    )
);
