// Google Symbols
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import "bootstrap/scss/functions";
@import "./variables";
@import "./variables-dark";
@import "bootstrap/scss/bootstrap";
@import "./util/utilities";
@import "bootstrap/scss/utilities/api";

// base 通用設定
@import "./base/base.scss";

// components-btn
@import "./components/buttons";
@import "./components/searchBar.scss";

// layout
@import "./layout/header";
@import "./layout/footer";

// page
@import "./page/home.scss";
@import "./page/trailsearchpage.scss";
@import "./page/traildetail.scss";
@import "./page/theme.scss";
@import "./page/member.scss";
@import "./page/notfound404.scss";
