// Google Symbols
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'bootstrap/scss/functions';
@import './variables';
@import './variables-dark';
@import 'bootstrap/scss/bootstrap';
@import './util/utilities';
@import 'bootstrap/scss/utilities/api';

// base 通用設定
@import './base/base.scss';

// components-btn
@import './components/form-floating';
@import './components/form-check';
@import './components/form-control';
@import './components/form-text';
@import './components/input-group';
@import './components/form-label';
@import './components/validation';
@import './components/buttons';
@import './components/nav';
@import './components/navbar';
@import './components/offcanvas';
@import './components/pagination';

// layout
@import './layout/footer';

// page
@import './page/home';
@import './page/trailsearchpage';
@import './page/traildetail';
@import './page/theme';
@import './page/member';
@import './page/notfound404';
