@import "bootstrap/scss/functions";
@import "./variables";
@import "./variables-dark";
@import "bootstrap/scss/bootstrap";
@import "./util/utilities";
@import "bootstrap/scss/utilities/api";

// base 通用設定
@import "./base/base.scss";

// components-btn
@import "./components/buttons";

// layout
@import "./layout/header";
@import "./layout/footer";

// page
@import "./page/home.scss";
@import "./page/trailsearchpage.scss";
@import "./page/traildetail.scss";
@import "./page/theme.scss";
@import "./page/member.scss";
@import "./page/notfound404.scss";
