$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "font-size"), "values"),
              (
                0: 56px,
                1: $h1-font-size,
                2: $h2-font-size,
                3: $h3-font-size,
                4: $h4-font-size,
                5: $h5-font-size,
                6: $h6-font-size,
                7: 14px,
              )
            ),
        )
      ),
    "rounded": (
      property: border-radius,
      class: rounded,
      responsive: true,
      // 加入這行
      values:
        (
          null: $border-radius,
          0: 0,
          4: 4px,
          8: 8px,
          16: 16px,
          20: 20px,
          24: 24px,
          60: 60px,
          100: 100px,
        ),
    ),
  )
);
