// mixins include 修改
.btn {
  letter-spacing: 0;
  &.btn-primary {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: var(--bs-border-width);
    // --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 100px;
    @include button-variant(
      // $black,
      $primary-100,
      // background
      // $black,
      transparent,
      // border
      // $white,
      $primary-300,
      // color
      $primary-200,
      // hover-background
      transparent,
      // hover-border
      $white,
      // hover-color
      $primary-200,
      // active-background
      transparent,
      // active-border
      $white // active-color
    );
    &:disabled,
    &.disabled {
      color: $white;
      background-color: $black-200;
      // Remove CSS gradients if they're enabled
      background-image: if($enable-gradients, none, null);
      // border-color: $disabled-border;
    }
  }
  &.btn-secondary {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.5;
    // --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-width: 1.5px;
    // --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 100px;
    @include button-variant(
      // $black,
      transparent,
      // background
      // $black,
      $primary-300,
      // border
      // $white,
      $primary-300,
      // color
      rgba($primary-300, 0.1),
      // hover-background
      $primary-300,
      // hover-border
      $primary-300,
      // hover-color
      rgba($primary-300, 0.1),
      // active-background
      $primary-300,
      // active-border
      $primary-300 // active-color
    );
    &:disabled,
    &.disabled {
      color: $black-200;
      background-color: transparent;
      // Remove CSS gradients if they're enabled
      background-image: if($enable-gradients, none, null);
      // border-color: $disabled-border;
      border-color: $black-200;
    }
  }
  &.btn-text {
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 1.5;
    // --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-width: 0px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0px;
    border: 0;
    @include button-variant(
      // $black,
      transparent,
      // background
      // $black,
      transparent,
      // border
      // $white,
      $primary-200,
      // color
      transparent,
      // hover-background
      transparent,
      // hover-border
      $primary-200,
      // hover-color
      transparent,
      // active-background
      transparent,
      // active-border
      $primary-200 // active-color
    );
    &:hover {
      text-decoration: 1.6px solid underline $primary-200;
      text-underline-offset: 3px;
    }

    &:active {
      border-bottom: 1.5px solid $primary-200;
    }
    &:disabled,
    &.disabled {
      color: $black-200;
      background-color: transparent;
      // Remove CSS gradients if they're enabled
      background-image: if($enable-gradients, none, null);
      // border-color: $disabled-border;
      border-color: $black-200;
    }
  }
  &.btn-textLink {
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 1.5;
    // --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-width: 0px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0px;
    border: 0;
    @include button-variant(
      // $black,
      transparent,
      // background
      // $black,
      transparent,
      // border
      // $white,
      $primary-300,
      // color
      transparent,
      // hover-background
      transparent,
      // hover-border
      $primary-200,
      // hover-color
      transparent,
      // active-background
      transparent,
      // active-border
      $primary-200 // active-color
    );
    &:hover {
      text-decoration: 1.6px solid underline $primary-200;
      text-underline-offset: 3px;
    }

    &:active {
      border-bottom: 1.5px solid $primary-200;
    }
    &:disabled,
    &.disabled {
      color: $black-200;
      background-color: transparent;
      // Remove CSS gradients if they're enabled
      background-image: if($enable-gradients, none, null);
      // border-color: $disabled-border;
      border-color: $black-200;
    }
  }
  &.btn-lg {
    @include media-breakpoint-down(md) {
      --bs-btn-font-size: 1.25rem;
    }
  }

  // rounded
  &.rounded {
    @include media-breakpoint-down(md) {
      --bs-border-radius: 0.75rem;
    }
  }
}
