.decor-lined {
    position: relative;
}

.decor-lined::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    background: #ffffff;
    right: -16px; /*把線條往右推*/
    top: 50%;
    transform: translateY(-50%);
}

// 要記得刪掉
nav {
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    background-color: transparent;
    z-index: 990;

    .header__nav,
    .header__login {
        color: $white;
    }

    .logo {
        max-width: 60px;
    }

    &.scrolled {
        background-color: $primary-50;

        .header__nav,
        .header__login {
            color: $primary-300;
        }
        .decor-lined::after {
            background: $primary-300;
        }
    }
}
