.decor-lined {
    position: relative;
}

.decor-lined::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    background: #ffffff;
    right: -16px; /*把線條往右推*/
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    max-width: 50px;
}
.logo-yestep {
    max-width: 90px;
}

@include media-breakpoint-down(sm) {
    .logo {
        max-width: 40px;
    }
    .logo-yestep {
        max-width: 75px;
    }
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    background-color: transparent;
    z-index: 990;

    .header__nav,
    .header__login {
        color: $white;
    }

    .btn-menu {
        all: initial;
        color: $white;
        line-height: 0;
        --bs-btn-color: #fff;
        --bs-btn-hover-color: #fff;
        --bs-btn-active-color: #fff;
    }

    &.scrolled {
        background-color: $primary-50;

        .header__nav,
        .header__login {
            color: $primary-300;
        }

        .decor-lined::after {
            background: $primary-300;
        }

        .btn-menu {
            color: $primary-300;
            --bs-btn-color: #4f6947;
            --bs-btn-hover-color: #4f6947;
            --bs-btn-active-color: #4f6947;
        }
    }
}
