.decor-lined {
    position: relative;
    color: inherit;
}

.decor-lined::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    background-color: currentColor;
    right: -16px; /*把線條往右推*/
    top: 50%;
    transform: translateY(-50%);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    transition: background-color 0.3s ease;
    background-color: transparent;

    .header__nav,
    .header__login,
    a {
        color: inherit;
    }

    .logo {
        max-width: 70px;
    }

    &.scrolled {
        background-color: $primary-50;

        .header__nav,
        .header__login {
            color: $primary-300;
        }
        .decor-lined::after {
            background: $primary-300;
        }
    }
}
