// 要記得刪掉
nav {
	position: fixed;
	width: 100%;
	top: 0;
}

.decor-lined {
	position: relative;
}

.decor-lined::after {
	position: absolute;
	content: "";
	height: 20px;
	width: 1px;
	background: #ffffff;
	right: -16px; /*把線條往右推*/
	top: 50%;
	transform: translateY(-50%);
}
