/*  Slogan + Hero */

.hero {
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 0;

    @media (min-width: 992px) {
        height: auto; /* 取消 90vh*/
        aspect-ratio: 16 / 9;
    }
}

// 🔸 影片滿版遮罩
.hero::after {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(rgba(70, 100, 10, 0.1), rgba(70, 100, 10, 0.1));
    z-index: 1;
}

.hero__bottom-wrap {
    bottom: 24px;

    @media (min-width: 992px) {
        bottom: 36px;
    }
}

// Hero切換按鈕
.hero__switch-btn {
    border: none;
    /* 未點擊狀態 */
    background-color: transparent;
    color: $primary-100;
    transition: all 0.3s ease;
    &:focus,
    &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
    &:hover {
        color: lighten($primary-100, 10%);
    }

    /* 點擊狀態 (Active) */
    &.active {
        background-color: $primary-100;
        color: $primary-300;
        font-weight: bold; /* 讓選中的 Icon 稍微厚實一點 (選用) */
    }
}

.hero__switch-btn .material-symbols-outlined {
    font-size: 16px;
    line-height: 1; /* 消除字體行高造成的微小位移 */
}

/* 本月活動特輯 Swiper */

// 會破版.theme-visible-wrap {
//     overflow: hidden;
// }

.theme-swiper {
    // overflow: visible;
    padding-bottom: 144px;

    @media (min-width: 992px) {
        // overflow: hidden;
        padding-left: 72px;
        padding-bottom: 20px;
    }
}

.theme {
    position: relative;
}

.theme__decor {
    position: absolute;
    z-index: 1;
    left: -72px;
    bottom: 32px;

    @media (min-width: 992px) {
        left: -72px;
        bottom: 56px;
    }
}

.theme__content {
    position: absolute;
    bottom: -144px;
    z-index: 2;

    @media (min-width: 992px) {
        bottom: -20px;
    }
}

.theme__card {
    height: 200px;

    @media (min-width: 992px) {
        height: auto;
    }
}
/* 步道難度指南 diffcard */

.diffcard__list {
    display: flex; /* 手機版：水平排列 */
    /* flex-wrap: nowrap;  手機版：不換行 */
    overflow-x: auto; /* 手機版：開啟水平滑動 */

    /* 隱藏橫向捲軸 */
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @media (min-width: 992px) {
        display: grid;
        flex-wrap: unset;
        grid-template-columns: repeat(5, 1fr);
        overflow-x: visible;
    }
}

.diffcard__card {
    flex: 0 0 200px;
    scroll-snap-align: start;

    // 陰影
    // box-shadow: 0 8px 12px rgba(2, 154, 30, 0.1);
    border-radius: 24px;

    @media (min-width: 992px) {
        flex: unset; // 取消flex
        width: auto;
    }

    //難易度小卡遮罩
    &:hover {
        .diffcard__overlay {
            opacity: 1; /* 滑鼠移過去時顯示 */
        }
    }
}
.diffcard__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 24px;

    @media (min-width: 992px) {
        height: auto;
    }
}

// 遮罩顯示層
.diffcard__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 24px; /* 圓角設在這裡 */
    overflow: hidden;
}

/* 新增遮罩層 */
.diffcard__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 220, 180); /* 米色背景 */
    opacity: 0; /* 預設隱藏 */
    transition: opacity 0.3s ease;

    /* 文字排版置中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    text-align: left;
}

.diffcard__img-sm {
    border: 3px solid $primary-300;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 50%;

    @media (min-width: 992px) {
        display: none;
    }
    @media (min-width: 1400px) {
        display: block;
        width: 120px;
        height: 120px;
    }
}

/* 覆蓋層內的文字樣式  */
.diffcard__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: $primary-300;
}

.diffcard__row {
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 8px;
}

.diffcard__label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $primary-300;
    margin-bottom: 4px; /* 標題與內文的間距 */
    letter-spacing: 1px; /* 字距稍微拉開，增加質感 */
}

/* 特色景觀步道 feature */

.landscape__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr; // 🔸 手機版 grid 雙欄
    height: auto;
    gap: 0;

    @media (min-width: 992px) {
        grid-template-columns: 2fr 3fr 2fr; // 🔸 桌機版 grid 三欄
        align-items: start;
    }
}
.landscape__gallery img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.landscape__column {
    display: contents;

    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
    }
}

// 指定手機版某些圖片要滿寬
.landscape__column:nth-child(1) .landscape__card:nth-child(3) {
    grid-column: 1 / -1;
}

.landscape__column:nth-child(3) .landscape__card:nth-child(1) {
    grid-column: 1 / -1;
}

// 🔸 圖片遮罩
.landscape__card {
    flex: 1;
    height: 140px;
    position: relative;
    z-index: 0;
    overflow: hidden;

    @media (min-width: 992px) {
        height: auto;
    }
}

.landscape__card::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    background:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
}

.landscape__card-title {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 2;

    @media (min-width: 992px) {
        left: 1.5rem;
        bottom: 1.5rem;
    }
}

// 🔸 hover效果
.landscape__card img {
    transition: transform 0.3s ease;
}

.landscape__card:hover img {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

/* 關於我們 about */
.about__card {
    box-shadow: 0px 1px 40px 1px rgba(0, 0, 0, 0.1);
}

.about__bg {
    bottom: -1px;
}
