.memberTabBtn {
    transition: all 0.4s ease;
    &:hover {
        grid-column: 1/-1;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s ease;
    }
    &:hover span {
        transform: scale(1.06) translate(-50%, -50%);
        z-index: 2;
        transition: all 0.4s ease;
    }
    & svg {
        transition: all 0.4s ease;
    }
    &:hover svg {
        transform: scale(1.5);
        opacity: 0;
        transition: all 0.4s ease;
    }
}

.memberTabLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.memberTabBtn:hover .memberTabLabel,
.memberTabBtn:focus-visible .memberTabLabel {
    opacity: 1;
    transition: all 0.4s ease;
}

// @media (min-width: 576px) {
//     nav {
//         // position: fixed;
//     }
// }
