.search-header {
	position: relative;
	padding: 176px 0 144px;
	background: url(../../images/trailsearchpage/bg.jpg) no-repeat center bottom;
	background-size: cover;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 5rem;
		bottom: -1rem;
		left: 0;
		background: url(../../images/trailsearchpage/mask.svg) no-repeat center
			bottom;
		background-size: cover;
	}
}
