.search-header {
    position: relative;
    padding: 176px 0 144px;
    background: url(https://images.unsplash.com/photo-1446483050676-bd2fdf3ac2d6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
        no-repeat center bottom;
    background-size: cover;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
    }

    &::before {
        height: 100%;
        top: 0;
        background: linear-gradient(to bottom, rgba($black, 0.5), transparent);
    }

    &::after {
        height: 5rem;
        bottom: -1rem;
        background: url(../../images/trailsearchpage/mask.svg) no-repeat center bottom;
        background-size: cover;
    }

    .container {
        position: relative;
    }
}

.search-bar {
    border: 1px solid $primary-200;

    .form-select,
    .form-control {
        border: none;
        box-shadow: none;
        font-size: 18px;

        &::placeholder {
            color: $black-200;
        }

        &:focus {
            border: none;
            box-shadow: none;
        }
    }

    .form-select {
        max-width: 170px;
        color: $black-600;
        font-weight: $font-weight-medium;
    }

    :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(
            .invalid-tooltip
        ):not(.invalid-feedback) {
        margin-left: initial;
        border-radius: $border-radius-pill;
    }

    .search-divider {
        width: 1px;
        height: 32px;
        background-color: $primary-200;
    }
}

.search {
    .shadow {
        box-shadow: 0 0.25rem 2rem rgba($black, 0.15) !important;
    }

    .card {
        border: none;

        .btn-go {
            border: none;
            line-height: 0;
            color: $primary-300;
            background-color: $primary-100;
            transition: all 0.15s ease-in-out;
        }

        &:hover {
            .btn-go {
                color: $white;
                transform: rotate(-48deg);
                background-color: $primary-200;
            }
            .card-img-top {
                transform: scale(1.1);
            }
        }
    }

    .card-img {
        position: relative;
        max-width: 300px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba($black, 0.8), transparent 50%);
            z-index: 1;
        }

        @include media-breakpoint-down(xxl) {
            max-width: 250px;
        }

        @include media-breakpoint-down(xl) {
            max-width: 100%;
        }

        .card-img-top {
            height: 176px;
            object-fit: cover;
            transition: all 0.15s ease-in-out;

            @include media-breakpoint-down(xl) {
                height: 180px;
            }
        }
    }

    .card-featured {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        z-index: 2;
    }

    .card-body {
        padding: 0.5rem;
    }
}

.popularTrails {
    overflow: hidden;

    .btn-arrow {
        border: none;
        line-height: 0;
        padding: 0.5rem;
        background-color: $white;
        box-shadow: 0 0.0625rem 0.5rem rgba($black, 0.08);

        &.swiper-button-disabled,
        &:disabled {
            color: $black-500;
            background-color: $black-100;
            opacity: 1;
        }

        &:hover {
            color: $white;
            background-color: $primary-200;
        }
    }
}

.popularTrailCards {
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        overflow: visible;
    }

    .swiper-slide {
        height: 434px;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .card {
        border: none;

        .btn-go {
            border: none;
            line-height: 0;
            color: $primary-300;
            background-color: $primary-100;
            transition: all 0.15s ease-in-out;
        }

        &:hover {
            .btn-go {
                color: $white;
                transform: rotate(-48deg);
                background-color: $primary-200;
            }
            .card-img {
                transform: scale(1.05);
            }
        }
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: all 0.15s ease-in-out;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, transparent, rgba($black, 0.6));
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        position: relative;
    }
}

.search-theme {
    position: relative;
    background: url(https://images.unsplash.com/photo-1725877762973-2422cee8ac72?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
        no-repeat center bottom;
    background-size: cover;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(4px);
        filter: hue-rotate(-30deg);
    }

    .container {
        position: relative;
    }

    .btn-arrow {
        border: none;
        border: 1px solid rgba($white, 0.75);
        line-height: 0;
        padding: 0.5rem;
        color: rgba($white, 0.75);
        opacity: 1;
    }
}

.themeInfoBanner {
    overflow: hidden;

    .swiper-slide {
        width: 140px;
        height: 270px;
        transition: width 0.15s ease;
        cursor: pointer;
    }

    .swiper-slide-active {
        width: 388px;
    }

    .card {
        border: none;
        background-color: transparent;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: transparent;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba($black, 0.8), transparent 50%);
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        position: relative;
        background-color: transparent;
        z-index: 2;
    }
}

.go-theme {
    position: absolute;
    bottom: 0;
}
